@media screen and (orientation: portrait) {
  #home {
    height: auto;
  }
}

@media screen and (max-width: 750px) {
  img#headerLogo {
    width: 30vw;
  }
  header button {
    font-size: 14px;
    padding: 0;
  }

  header .container {
    position: static;
  }
  nav {
    max-width: none;
    width: 100vw;
    top: var(--size-nav-height);
    border-left: none;
    border-right: none;
  }
  nav a {
    padding: 16px 20px;
  }

  button#mute-btn {
    width: 30px;
    height: 30px;
    top: calc(var(--size-nav-height) + 1rem);
    right: 1rem;
  }
  button#mute-btn img {
    width: 20px;
  }

  .title--card {
    font-size: 1.5rem;
  }
  .policy-title .title--card {
    font-size: 1rem;
  }

  .col-two {
    grid-template-columns: 1fr;
  }

  .policy-title {
    min-height: auto;
  }

  .card--link {
    grid-template-columns: 40px auto;
  }
  .policy-title .button {
    grid-column: span 2;
  }

  #training {
    background: none;
  }
  .training-intro {
    flex-direction: column;
    width: 100%;
  }
  .slider-container {
    display: none;
  }
  .card-feedback {
    width: 100%;
  }

  .contact-content {
    width: 100%;
    margin: 0;
  }

  footer .container {
    flex-direction: column;
  }
  .footer-right {
    margin-top: 3rem;
    grid-template-columns: 1fr;
    gap: 2em;
  }
  footer img {
    width: 60vw;
  }
  #copyright {
    display: none;
  }
  #copyright-mobile {
    display: flex;
    margin-top: 1.5rem;
  }
}
