:root {
  --deep-blue: hsla(252, 100%, 10%, 1);
  --deep-blue-30: hsla(240, 10%, 72%, 1);
  --deep-blue-50: hsla(240, 10%, 54%, 1);
  --deep-blue-80: hsla(243, 25%, 28%, 1);
  --energy-blue: hsla(196, 94%, 72%, 1);
  --energy-blue-10: hsla(192, 94%, 94%, 1);
  --energy-purple: hsla(256, 81%, 57%, 1);
  --energy-purple-10: hsla(255, 78%, 93%, 1);
  --energy-purple-30: hsla(255, 80%, 86%, 1);
  --energy-purple-50: hsla(256, 79%, 77%, 1);

  --size-nav-height: 86px;
  --size-article-padding: clamp(40px, 6vw, 100px);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Faktum", sans-serif;
  color: var(--deep-blue);
  line-height: 1.2em;
}

p {
  color: var(--deep-blue-80);
  line-height: 1.375em;
}

h2 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1em;
  margin-bottom: 2.5rem;
}

a {
  text-decoration: none;
}

.grey-text {
  color: var(--deep-blue-50);
  font-size: clamp(0.6rem, 0.1875rem + 0.8594vw, 0.875rem);
}

.container {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  border-radius: 0 24px 0 0;
  border: 1px solid var(--energy-purple);
  background-color: white;
  overflow: hidden;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.separator {
  margin-top: var(--size-article-padding);
  margin-bottom: var(--size-article-padding);
}
.separator img {
  width: 100%;
}

article {
  padding-top: var(--size-article-padding);
}

#home {
  padding-top: var(--size-nav-height);
  height: 100vh;
  overflow: hidden;
  position: relative;
}
video {
  width: 100%;
}

.button {
  background-color: var(--energy-blue);
  border-radius: 0 12px 0 0;
  padding: 0.75em 1.5em;
  font-size: clamp(0.65rem, 0.125rem + 1.0938vw, 1rem);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}

button#mute-btn {
  background-color: hsla(240, 10%, 72%, 0.3);
  width: 60px;
  height: 60px;
  position: absolute;
  right: 3rem;
  top: calc(var(--size-nav-height) + 3rem);
  z-index: 10;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}
button#mute-btn img {
  width: 30px;
}

header {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: var(--size-nav-height);
  background-color: white;
}
header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
}
header button {
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 0.6em 1em;
  color: var(--deep-blue);
  font-weight: 600;
  font-size: 0.875rem;
  border: none;
  height: 100%;
}

nav {
  display: grid;
  max-width: 13em;
  border: 1px solid var(--deep-blue-30);
  border-bottom: none;
  background-color: white;
  position: absolute;
  right: 0;
  top: calc(var(--size-nav-height) - 1.2em);
}

nav a {
  padding: 0.5em 0.75em;
  border-bottom: 1px solid var(--deep-blue-30);
  color: var(--deep-blue);
}
nav a:hover {
  background-color: var(--energy-purple-10);
}

.col-two {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
}

.col-three {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr 1fr;
}

.title--card {
  font-size: clamp(1rem, -1.0098rem + 3.9216vw, 1.5rem);
  font-weight: 500;
  text-wrap: wrap;
  line-height: 1.25em;
}

.card img {
  width: 100%;
}

.card-policy .card {
  padding: 0;
}

.card--link {
  display: grid;
  grid-template-columns: 1fr 6fr 2.5fr;
  gap: 12px;
  align-items: center;
  font-size: clamp(0.65rem, 0.125rem + 1.0938vw, 1rem);
}
.card--link img {
  width: clamp(2rem, 0.5rem + 3.125vw, 3rem);
}

.policy-title {
  border: 1px solid var(--energy-purple);
  border-top: none;
  padding: clamp(12px, 1.2vw, 24px);
  min-height: 110px;
}

.card-file {
  font-size: clamp(0.8rem, 0.125rem + 1.4062vw, 1.25rem);
  line-height: 1.2em;
  min-height: 8.5em;
  justify-content: space-between;
}

.card-file-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(0.65rem, 0.125rem + 1.0938vw, 1rem);
}

.card-file-link > img {
  width: clamp(2rem, 0.5rem + 3.125vw, 3rem);
}

.link--icon {
  display: flex;
  gap: 2px;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  color: var(--energy-purple);
}

.link--icon > img {
  width: 1.5rem;
  height: 1.5rem;
}

img.small-icon {
  width: 20px;
}
.date-info {
  font-size: clamp(0.6rem, 0.1875rem + 0.8594vw, 0.875rem);
  color: var(--deep-blue-80);
  display: flex;
  align-items: center;
  margin-top: -0.5rem;
}
.space-right {
  margin-right: 2rem;
}

#training {
  background-image: url(assets/images/bg-training.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-bottom: var(--size-article-padding);
}

.training-intro {
  display: flex;
  width: 65%;
  gap: 4rem;
  align-items: center;
  margin-bottom: 3rem;
}

.training-intro-content p {
  margin-top: 1.25rem;
  /* line-height: 1.375em; */
}

.schedule-title {
  display: flex;
  gap: 2rem;
}
.schedule-title h2 {
  margin: 0;
}
.schedule-title img {
  width: 30px;
}
.schedule-title .grey-text {
  display: flex;
  align-items: center;
  gap: 8px;
}
.schedule-title .grey-text p {
  color: var(--deep-blue-50);
}

.month-line {
  width: 100%;
  padding: 1rem 0;
  background: linear-gradient(
    90deg,
    hsla(256, 81%, 65%, 0.4) 0%,
    hsla(196, 94%, 72%, 0.4) 50%,
    hsla(150, 94%, 75%, 0.4) 100%
  );
  color: var(--energy-purple);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  text-align: center;
}
.slider-container {
  position: relative;
  margin: 4rem 0;
}
.pin {
  cursor: pointer;
  position: absolute;
  top: -50%;
  left: 0;
}
.pin img {
  width: calc(min(90vw, 1200px) / 12);
}
.training-events {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-bottom: 3rem;
  padding-top: 1.5rem;
}

.training-feedback {
  display: flex;
  justify-content: flex-end;
}

.card-feedback {
  background-color: var(--energy-blue-10);
  width: 50%;
  border-color: var(--energy-blue);
  line-height: 1.375em;
}

#newsletters {
  padding-bottom: var(--size-article-padding);
  background-color: var(--energy-purple-10);
}

.newsletter-intro-card {
  width: 60%;
  border-radius: 0 0 0 24px;
  background-color: white;
  padding: 4.5rem;
}
.newsletter-intro-card h2 {
  margin: 0;
  margin-top: 1.5rem;
}
.newsletter-intro-card p {
  width: 80%;
}
.newsletter-intro-card img {
  width: 30%;
}

.newsletter-download-card {
  width: 50%;
  background-color: white;
  position: relative;
  margin-left: 50%;
  margin-top: -20rem;
}
.newsletter-item {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--energy-purple-50);
}
.newsletter-item:first-child {
  border-top: 1px solid var(--energy-purple-50);
}
.newsletter-item > div {
  display: flex;
  align-items: center;
}
.newsletter-date {
  padding: 0.5em;
  font-weight: 600;
  color: white;
  background-color: var(--energy-purple);
  margin-right: 1em;
  border-radius: 0 8px 0 0;
}
.newsletter-title {
  font-weight: 600;
  font-size: 1rem;
}

#resources {
  padding-bottom: var(--size-article-padding);
}
.resource-tabs {
  position: absolute;
  top: -1rem;
  right: 0;
  display: flex;
}
.resource-tabs button {
  font-size: 1.25rem;
  padding: 0.8em;
  color: var(--deep-blue);
  background-color: transparent;
  border: 2px solid transparent;
}
.resource-tabs button.active {
  border-bottom: 2px solid var(--deep-blue);
}
.resource-tabs button:not(.active) {
  color: var(--energy-purple);
  cursor: pointer;
}
.resource-videos {
  display: grid;
  grid-template-columns: 56vw auto;
}
.resource-videos iframe {
  width: 100%;
  height: 31.5vw;
  /* width="560";
  height="315"; */
}
.video-list {
  padding: 0;
  height: 31.5vw;
  overflow: scroll;
  gap: 0;
}
.video-list-item {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  align-items: center;
  border-bottom: 1px solid var(--energy-purple);
  cursor: pointer;
}
.video-list-item.active {
  cursor: auto;
  background-color: var(--energy-purple-30);
}
.video-list-item:not(.active):hover {
  background-color: var(--energy-purple-10);
}

#contact-us {
  background: linear-gradient(
      90deg,
      hsla(256, 81%, 65%, 0.1) 0%,
      hsla(196, 94%, 72%, 0.1) 50%,
      hsla(150, 94%, 75%, 0.1) 100%
    ),
    url(assets/images/graphic.png);
  background-repeat: no-repeat;
  padding-bottom: var(--size-article-padding);
}

.contact-content {
  width: 50%;
  margin-left: 50%;
}
.contact-content h3 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1em;
}
.contact-content p {
  margin-bottom: 1em;
}
.contact-list {
  font-size: clamp(1rem, 0.625rem + 0.7813vw, 1.25rem);
  font-weight: 500;
  margin: 2em 0;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, 280px);
}
.contact-item {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.contact-item img {
  width: clamp(2.5rem, 0.625rem + 3.9063vw, 3.75rem);
}
.contact-type {
  font-size: clamp(0.65rem, 0.5rem + 0.3125vw, 0.75rem);
  text-transform: uppercase;
}
/* .contact-info {
  font-size: 1.25rem;
} */
.contact-text {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: var(--deep-blue);
  padding: var(--size-article-padding) 0;
  color: white;
}

footer .container {
  display: flex;
  justify-content: space-between;
}
footer img {
  width: 20vw;
}
.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-right {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3em;
}
.footer-menu-col {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
footer a {
  text-decoration: none;
  color: white;
}
#copyright-mobile {
  display: none;
}

.hide {
  display: none;
}
